<!DOCTYPE html>
<html>
<head>
    <title>United-and-Close</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
<div id="navbar"></div>
<div id="map"></div>

<!-- External libraries -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Application scripts -->
<script src="/public/js/navbar.js"></script>
<script src="/public/js/map.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>